<nav class="navbar has-shadow is-melonian" style="border-radius: 0px;">
    <div class="container">
        <div class="navbar-brand">
            <a href="/" class="navbar-item">
                <img class="circle" src="/img/logo.png" style="margin-right: 7px;" alt="<%= bot.user.username %>">
                <b><%= bot.user.username %></b>
            </a>
            <div class="navbar-burger burger" data-target="nav-items">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div class="navbar-menu" id="nav-items">
            <div class="navbar-start">
                <a href="/" class="navbar-item">Home</a>
                <a href="/commands" class="navbar-item">Commands</a>
				<a href="/servers" class="navbar-item">Servers</a>
            </div>
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="field is-grouped">
                        <div class="dropdown is-right is-hoverable">
                            <div class="dropdown-trigger">
								<% if (authUser) { %>
                                <button onclick="window.location.href = '/dashboard/';" class="button is-dark" aria-haspopup="true" aria-controls="usrdropdown">
                                    <span class="icon" style="margin-right: 5px;">
                                        <img class="fa circle" src="https://cdn.discordapp.com/avatars/<%= authUser.id %>/<%= authUser.avatar %>.png?size=512" aria-hidden="true"></i>
                                    </span>
                                    <span><%= authUser.username %></span>
                                    <span class="icon is-small">
                                        <i class="fas fa-angle-down" aria-hidden="true"></i>
                                    </span>
                                </button>
								<% } else { %>
								<button onclick="window.location.href = '/login/';" class="button is-dark" aria-haspopup="true" aria-controls="usrdropdown">
                                    <span class="icon">
                                        <i class="fab fa-discord" aria-hidden="true"></i>
                                    </span>
                                    <span>Sign in with Discord</span>
                                </button>
								<% } %>
                            </div>
							<% if (authUser) { %>
                                        <div class="dropdown-menu is-pulled-left" id="usrdropdown" role="menu">
                                            <div class="dropdown-content">
												<a href="/dashboard" class="dropdown-item">
                                                    Dashboard
                                                </a>
												<div class="dropdown-divider"></div>
												<% if (authUser.id === bot.owner.id) { %>
												<a href="/owner-dashboard" class="dropdown-item">
                                                    Owner Dashboard
                                                </a>
												<% } %>
                                                <a href="/logout" class="dropdown-item">
                                                    Log out
                                                </a>
                                            </div>
                                        </div>
							<% } %>
                        </div>
				</div>
            </div>
        </div>
    </div>
</nav>