<!DOCTYPE html>
<html>
  <head>
    <title><%= title %> | <%= bot.user.username %></title>
    <script>
      document.addEventListener('DOMContentLoaded', function () {
        // Get all "navbar-burger" elements
        var $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

        // Check if there are any navbar burgers
        if ($navbarBurgers.length > 0) {
          // Add a click event on each of them
          $navbarBurgers.forEach(function ($el) {
            $el.addEventListener('click', function () {
              // Get the target from the "data-target" attribute
              var target = $el.dataset.target;
              var $target = document.getElementById(target);
              // Toggle the class on both the "navbar-burger" and the "navbar-menu"
              $el.classList.toggle('is-active');
              $target.classList.toggle('is-active');
            });
          });
        }
      });
    </script>
    <meta name=viewport content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/css/bulma.css' />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-87DrmpqHRiY8hPLIr7ByqhPIywuSsjuQAfMXAE0sMUpY3BM7nXjf+mLIUSvhDArs" crossorigin="anonymous">
	<%- include ../partials/includes/header.ejs %>
  </head>
  <body>
    <%- include ../partials/includes/navbar.ejs %>
    <section class="hero is-melonian">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            <b>Commands</b>
          </h1>
          <h2 class="subtitle" style="color: #dedede !important;">
            All of the commands <%= bot.user.username %> features.
          </h2>
        </div>
      </div>
    </section>
    <br>
    <div class="container">
        <% for(let label in bot.commands.array()) { %>
            <% if (bot.commands.array()[label] && bot.commands.array()[label].permissionLevel < 9) { %>
                <div class="box">
                    <article class="media">
                        <div class="media-content">
                            <div class="content">
                                <p>
                                    <%= config.prefix %><strong><%= bot.commands.array()[label].name %></strong>
                                    <br>
                                    <%= bot.commands.array()[label].description %>
                                </p>
                            </div>
                        </div>
                    </article>
                </div>
            <% } %>
        <% } %>
        <br>
    </div>
    <% include ../partials/includes/footer.ejs %>
  </body>
</html>
