<!DOCTYPE html>
<html>
  <head>
    <title><%= error.status %> <%= message %> | <%= bot.user.username %></title>
    <meta name=viewport content="width=device-width, initial-scale=1">
    <script>
      document.addEventListener('DOMContentLoaded', function () {
        // Get all "navbar-burger" elements
        var $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

        // Check if there are any navbar burgers
        if ($navbarBurgers.length > 0) {

          // Add a click event on each of them
          $navbarBurgers.forEach(function ($el) {
            $el.addEventListener('click', function () {

              // Get the target from the "data-target" attribute
              var target = $el.dataset.target;
              var $target = document.getElementById(target);

              // Toggle the class on both the "navbar-burger" and the "navbar-menu"
              $el.classList.toggle('is-active');
              $target.classList.toggle('is-active');

            });
          });
        }
      });
    </script>
    <link rel='stylesheet' href='/css/bulma.css' />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-87DrmpqHRiY8hPLIr7ByqhPIywuSsjuQAfMXAE0sMUpY3BM7nXjf+mLIUSvhDArs" crossorigin="anonymous">
	<%- include ../partials/includes/header.ejs %>
  </head>
  <body>
    <%- include ../partials/includes/navbar.ejs %>
    <br>
    <div class="container">
      <h1 class="title">There was an issue!</h1>
      <% if (!req.connection.remoteAddress === "::1" || !req.connection.remoteAddress === "127.0.0.1") { %>
        <h2 class="subtitle">Error info:</h2>
        <pre style="border-radius: 10px;"><code><%= error.stack %></code></pre>
        <p>...yeah, watch out for that. Let's go!</p>
        <hr style="height: 1px;">
        <button class="button is-primary" onclick="document.location.href = '/'">
            <span class="icon">
                <i class="fas fa-home"></i>
            </span>
            <span>
                Go home
            </span>
        </button>
        <button class="button is-info tooltip is-tooltip-multiline is-tooltip-bottom" data-tooltip="The server has encountered an error. If you continue to experience said error, report it to us.">
            <span class="icon">
                <i class="fas fa-question-circle"></i>
            </span>
            <span>
                What is this?
            </span>
        </button>
      <% } else { %>
        <h2 class="subtitle"><%= error.status %> <%= message %></h2>
        <p>You lost your way, eh? Here's some handy buttons:</p>
        <hr style="height: 1px;">
        <button class="button is-discord" onclick="document.location.href = '/'">
            <span class="icon">
                <i class="fas fa-home"></i>
            </span>
            <span>
				<% if (authUser) { %>
					<%= authUser.username %>, come home!
				<% } else { %>
					Go home
				<% } %>
            </span>
        </button>
		<button class="button is-melonian" onclick="document.location.href = '/dashboard'">
            <span class="icon">
                <i class="fas fa-tachometer-alt"></i>
            </span>
            <span>
				Go to the dashboard
            </span>
        </button>
      <% } %>
      <hr>
    </div>
    <% include ../partials/includes/footer.ejs %>
  </body>
</html>