<!DOCTYPE html>
<html>
  <head>
    <title><%= title %> | <%= bot.user.username %></title>
    <script>
      document.addEventListener('DOMContentLoaded', function () {
        // Get all "navbar-burger" elements
        var $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

        // Check if there are any navbar burgers
        if ($navbarBurgers.length > 0) {
          // Add a click event on each of them
          $navbarBurgers.forEach(function ($el) {
            $el.addEventListener('click', function () {
              // Get the target from the "data-target" attribute
              var target = $el.dataset.target;
              var $target = document.getElementById(target);
              // Toggle the class on both the "navbar-burger" and the "navbar-menu"
              $el.classList.toggle('is-active');
              $target.classList.toggle('is-active');
            });
          });
        }
      });
    </script>
    <meta name=viewport content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/css/bulma.css' />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  </head>
  <body>
    <% include ../partials/includes/navbar.ejs %>
    <section class="hero is-discord">
      <div class="hero-body">
        <div class="container">
          <img class="is-pulled-left circle" style="margin-right: 25px;" src="https://cdn.discordapp.com/avatars/<%= bot.user.id %>/<%= bot.user.avatar %>.png" />
          <h1 class="title">
            <b><%= bot.user.username %></b>
          </h1>
          <h2 class="subtitle" style="color: #dedede !important;">
            A jack-of-all-trades Discord bot.
          </h2>
          <% if (config.inviteLink.enabled) { %>
            <a class="button is-large" href="https://discordapp.com/oauth2/authorize?&client_id=<%= config.inviteLink.client_id %>&scope=bot&permissions=<%= config.inviteLink.permissions %>">
              <span class="icon">
                <i class="fa fa-user-plus"></i>
              </span>
              <span>Invite now</span>
            </a>
          <% } %>
        </div>
      </div>
    </section>
    <br>
    <div class="container">
      <h1 class="title">Welcome!</h1>
      <p><%= bot.user.username %> is a jack-of-all-trades Discord bot, made to <b>suit your needs.</b></p>
      <p>The website's currently in development, so if any bugs arise, <a href="https://github.com/Melonz/Melonian/issues/new">make an issue on GitHub.</a></p>
      <hr>
      <h1 class="title" id="maintainers">Maintainers</h1>
      <h2 class="subtitle">The people who develop this bot.</h2>
      <% config.maintainers.forEach(function (maintainer) { let maintainUsr = bot.users.find(u => u.id === maintainer.id); %>
          <div class="box">
            <article class="media">
              <div class="media-left">
                <figure class="image is-64x64">
                  <img class="circle" src="<%= maintainUsr.avatarURL %>" alt="maintainer">
                </figure>
              </div>
              <div class="media-content">
                <div class="content">
                  <p>
                    <strong><%= maintainer.name %></strong>
                    <br>
                    <%= maintainer.desc %>
                  </p>
                </div>
                <nav class="level is-mobile">
                  <div class="level-left">
                    <a href="<%= maintainer.website %>" class="level-item">
                      <span class="icon is-small">
                        <i class="fa fa-globe"></i>
                      </span>
                      <span>
                        Website
                      </span>
                    </a>
                  </div>
                </nav>
              </div>
            </article>
          </div>
        <% }); %>
        <br>
    </div>
    <% include ../partials/includes/footer.ejs %>
  </body>
</html>
