<!DOCTYPE html>
<html>
  <head>
	<% if (!q) { %>
		<title><%= title %> | <%= bot.user.username %></title>
	<% } else { %>
		<title>Server search result | <%= bot.user.username %></title>
	<% } %>
    <script>
      document.addEventListener('DOMContentLoaded', function () {
        // Get all "navbar-burger" elements
        var $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

        // Check if there are any navbar burgers
        if ($navbarBurgers.length > 0) {
          // Add a click event on each of them
          $navbarBurgers.forEach(function ($el) {
            $el.addEventListener('click', function () {
              // Get the target from the "data-target" attribute
              var target = $el.dataset.target;
              var $target = document.getElementById(target);
              // Toggle the class on both the "navbar-burger" and the "navbar-menu"
              $el.classList.toggle('is-active');
              $target.classList.toggle('is-active');
            });
          });
        }
      });
    </script>
    <meta name=viewport content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/css/bulma.css' />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-87DrmpqHRiY8hPLIr7ByqhPIywuSsjuQAfMXAE0sMUpY3BM7nXjf+mLIUSvhDArs" crossorigin="anonymous">
	<%- include ../partials/includes/header.ejs %>
  </head>
  <body>
    <%- include ../partials/includes/navbar.ejs %>
	<% if (!q) { %>
		<section class="hero is-melonian">
		  <div class="hero-body">
			<div class="container">
			  <h1 class="title">
				<b>Server list</b>
			  </h1>
			  <h2 class="subtitle" style="color: #dedede !important;">
				A list of all public Melonian servers. Want to opt in? Go to the <a href="/dashboard" style="color: #fff !important;">dashboard</a>!
			  </h2>
			</div>
		  </div>
		</section>
		<br>
		<div class="container">
			<h1 class="title is-4">Search for servers (by name)</h1>
			<form name="jeffXDSassy" action="/servers">
				<input class="input" type="text" name="q" style="margin-top: 5px;" minlength="1" placeholder="Search...">
				<br><br>
				<input class="button is-melonian" type="submit" value="Search">
			</form>
			<hr />
			<div class="columns is-multiline is-centered">
			<% for (var i in bot.guilds.filter(m => m.settings.get('public') === true).array()) { %>
					<div class="column is-one-third">
						<div class="card">
						  <div class="card-content">
							<div class="media">
							  <div class="media-left">
								<figure class="image is-64x64">
								  <img style="border-radius: .5rem;" src="<%= bot.guilds.filter(m => m.settings.get('public') === true).array()[i].iconURL() %>">
								</figure>
							  </div>
							  <div class="media-content">
								<p class="title is-4" style="margin-bottom: .9rem;"><%= bot.guilds.filter(m => m.settings.get('public') === true).array()[i].name %></p>
								<div class="tags" style="margin-left: 0px;">
									<% if (bot.guilds.filter(m => m.settings.get('public') === true).array()[i].settings.get('certified')) { %>
										<span class="tag is-small is-melonian" style="font-weight: normal;"><i class="fas fa-shield-check" style="margin-right: 5px;"></i> Certified</span>
									<% } %>
									
									<% if (authUser && bot.guilds.filter(m => m.settings.get('public') === true).array()[i].ownerID === authUser.id) { %>
										<span class="tag is-small is-success" style="font-weight: normal;"><i class="fas fa-user-shield" style="margin-right: 5px;"></i> Owner</span>
									<% } %>
								</div>
							  </div>
							</div>

							<div class="content">
								<% if (bot.guilds.filter(m => m.settings.get('public') === true).array()[i].settings.get('serverDesc') != "" && bot.guilds.filter(m => m.settings.get('public') === true).array()[i].settings.get('serverDesc') != " ") { %>
									<p><%= bot.guilds.filter(m => m.settings.get('public') === true).array()[i].settings.get('serverDesc') %></p>
								<% } else { %>
									<p><i>This server has no description.</i></p>
								<% } %>
							</div>
						  </div>
						  <footer class="card-footer">
							<% if (bot.guilds.filter(m => m.settings.get('public') === true).array()[i].settings.get('serverInv') != "" && bot.guilds.filter(m => m.settings.get('public') === true).array()[i].settings.get('serverInv') != null) { %>
									<a href="https://discord.gg/<%= bot.guilds.filter(m => m.settings.get('public') === true).array()[i].settings.get('serverInv') %>" class="card-footer-item"><i class="fab fa-discord" style="margin-right: 5px;"></i> Join server</a>
								<% } else { %>
									<p class="has-text-grey-lighter card-footer-item"><i>The invite link is not set up.</i></p>
							<% } %>
							
							<% if (bot.guilds.filter(m => m.settings.get('public') === true).array()[i].settings.get('botSite') != "" && bot.guilds.filter(m => m.settings.get('public') === true).array()[i].settings.get('botSite') != null) { %>
									<a href="<%= bot.guilds.filter(m => m.settings.get('public') === true).array()[i].settings.get('botSite') %>" class="card-footer-item"><i class="fas fa-globe" style="margin-right: 5px;"></i> Website</a>
							<% } %>
							
							<% if (bot.guilds.filter(m => m.settings.get('public') === true).array()[i].settings.get('botTwitter') != "" && bot.guilds.filter(m => m.settings.get('public') === true).array()[i].settings.get('botTwitter') != null) { %>
									<a href="https://twitter.com/<%= bot.guilds.filter(m => m.settings.get('public') === true).array()[i].settings.get('botTwitter') %>" class="card-footer-item"><i class="fab fa-twitter" style="margin-right: 5px;"></i> Twitter</a>
							<% } %>
						  </footer>
						</div>
					</div>
			<% } %>
			</div>
			<br>
		</div>
		<% include ../partials/includes/footer.ejs %>
	<% } else { %>
		<section class="hero is-melonian">
		  <div class="hero-body">
			<div class="container">
			  <h1 class="title">
				<b>Search result for "<%= q %>"</b>
			  </h1>
			  <h2 class="subtitle" style="color: #dedede !important;">
				<% let thefilter = bot.guilds.filter(m => m.settings.get('public') === true && m.name.toLowerCase().includes(q.toLowerCase())); %>
				<% if (thefilter.size === 1) { %>
					<%= thefilter.size %> result
				<% } else if (thefilter.size === 0) { %>
					No results
				<% } else { %>
					<%= thefilter.size %> results
				<% } %>
			  </h2>
			</div>
		  </div>
		</section>
		<br>
		<div class="container">
			<h1 class="title is-4">Search for servers (by name)</h1>
			<form name="jeffXDSassy" action="/servers">
				<input class="input" type="text" name="q" style="margin-top: 5px;" minlength="1" placeholder="Search...">
				<br><br>
				<input class="button is-melonian" type="submit" value="Search">
			</form>
			<hr />
			<div class="columns is-multiline is-centered">
			<% for (var i in bot.guilds.filter(m => m.settings.get('public') === true && m.name.toLowerCase().includes(q.toLowerCase())).array()) { %>
					<div class="column is-one-third">
						<div class="card">
						  <div class="card-content">
							<div class="media">
							  <div class="media-left">
								<figure class="image is-64x64">
								  <img style="border-radius: .5rem;" src="<%= bot.guilds.filter(m => m.settings.get('public') === true && m.name.toLowerCase().includes(q.toLowerCase())).array()[i].iconURL() %>">
								</figure>
							  </div>
							  <div class="media-content">
								<p class="title is-4" style="margin-bottom: .9rem;"><%= bot.guilds.filter(m => m.settings.get('public') === true && m.name.toLowerCase().includes(q.toLowerCase())).array()[i].name %></p>
								<div class="tags" style="margin-left: 0px;">
									<% if (bot.guilds.filter(m => m.settings.get('public') === true && m.name.toLowerCase().includes(q.toLowerCase())).array()[i].settings.get('certified')) { %>
										<span class="tag is-small is-melonian" style="font-weight: normal;"><i class="fas fa-shield-check" style="margin-right: 5px;"></i> Certified</span>
									<% } %>
									
									<% if (authUser && bot.guilds.filter(m => m.settings.get('public') === true && m.name.toLowerCase().includes(q.toLowerCase())).array()[i].ownerID === authUser.id) { %>
										<span class="tag is-small is-success" style="font-weight: normal;"><i class="fas fa-user-shield" style="margin-right: 5px;"></i> Owner</span>
									<% } %>
								</div>
							  </div>
							</div>

							<div class="content">
								<% if (bot.guilds.filter(m => m.settings.get('public') === true && m.name.toLowerCase().includes(q.toLowerCase())).array()[i].settings.get('serverDesc') != "" && bot.guilds.filter(m => m.settings.get('public') === true && m.name.toLowerCase().includes(q.toLowerCase())).array()[i].settings.get('serverDesc') != " ") { %>
									<p><%= bot.guilds.filter(m => m.settings.get('public') === true && m.name.toLowerCase().includes(q.toLowerCase())).array()[i].settings.get('serverDesc') %></p>
								<% } else { %>
									<p><i>This server has no description.</i></p>
								<% } %>
							</div>
						  </div>
						  <footer class="card-footer">
							<% if (bot.guilds.filter(m => m.settings.get('public') === true && m.name.toLowerCase().includes(q.toLowerCase())).array()[i].settings.get('serverInv') != "" && bot.guilds.filter(m => m.settings.get('public') === true && m.name.toLowerCase().includes(q.toLowerCase())).array()[i].settings.get('serverInv') != null) { %>
									<a href="https://discord.gg/<%= bot.guilds.filter(m => m.settings.get('public') === true && m.name.toLowerCase().includes(q.toLowerCase())).array()[i].settings.get('serverInv') %>" class="card-footer-item"><i class="fab fa-discord" style="margin-right: 5px;"></i> Join server</a>
								<% } else { %>
									<p class="has-text-grey-lighter card-footer-item"><i>The invite link is not set up.</i></p>
							<% } %>
							
							<% if (bot.guilds.filter(m => m.settings.get('public') === true && m.name.toLowerCase().includes(q.toLowerCase())).array()[i].settings.get('botSite') != "" && bot.guilds.filter(m => m.settings.get('public') === true && m.name.toLowerCase().includes(q.toLowerCase())).array()[i].settings.get('botSite') != null) { %>
									<a href="<%= bot.guilds.filter(m => m.settings.get('public') === true && m.name.toLowerCase().includes(q.toLowerCase())).array()[i].settings.get('botSite') %>" class="card-footer-item"><i class="fas fa-globe" style="margin-right: 5px;"></i> Website</a>
							<% } %>
							
							<% if (bot.guilds.filter(m => m.settings.get('public') === true && m.name.toLowerCase().includes(q.toLowerCase())).array()[i].settings.get('botTwitter') != "" && bot.guilds.filter(m => m.settings.get('public') === true && m.name.toLowerCase().includes(q.toLowerCase())).array()[i].settings.get('botTwitter') != null) { %>
									<a href="https://twitter.com/<%= bot.guilds.filter(m => m.settings.get('public') === true && m.name.toLowerCase().includes(q.toLowerCase())).array()[i].settings.get('botTwitter') %>" class="card-footer-item"><i class="fab fa-twitter" style="margin-right: 5px;"></i> Twitter</a>
							<% } %>
						  </footer>
						</div>
					</div>
			<% } %>
			</div>
			<br>
		</div>
	<% } %>
  </body>
</html>
